<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mikelpablo.otakucook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- USE_CREDENTIALS is necessary for Google+ login -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GET_ACCOUNTS is necessary to display email address of logged in user. This permission is optional -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".Login.LoginDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".BroadcastReceiver.AlarmReceiver" />

        <activity
            android:name=".Main.activities.MainActivity"
            android:theme="@style/AppTheme.TransparentStatus">
        </activity>
        <activity
            android:name=".Recipes.activities.RecipeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_recipes"
            android:parentActivityName=".Main.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.activities.MainActivity" />
        </activity>
        <activity android:name=".Recipes.activities.RecipeTaskViewPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recipes.activities.RecipeActivity" />
        </activity>
        <activity android:name=".Recipes.activities.RecipeFinalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recipes.activities.RecipeTaskViewPageActivity" />
        </activity>
        <activity android:name=".Recipes.activities.RecipeTaskListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recipes.activities.RecipeActivity" />
        </activity>
        <activity android:name=".Recipes.activities.RecipeSingleTaskActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recipes.activities.RecipeTaskListActivity" />
        </activity>
        <activity
            android:name=".Ingredients.activities.CategoriesActivity"
            android:parentActivityName=".Main.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.activities.MainActivity" />
        </activity>
        <activity
            android:name=".Ingredients.activities.IngredientsServerActivity"
            android:parentActivityName=".Ingredients.activities.CategoriesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Ingredients.activities.CategoriesActivity" />
        </activity>
        <activity
            android:name=".Preferences.PreferencesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Utils.BaseActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ff1c2189b92aa493cd60d97569bcd6baf9715047" />

        <activity
            android:name=".Ingredients.activities.HistoricalIngredientsActivity"
            android:parentActivityName=".Main.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.activities.MainActivity" />
        </activity>
        <activity android:name=".Login.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>